.slider {
  grid-area: slider;
  display: flex;
  position: relative;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 10px #0000002f;
  overflow: hidden;
  img {
    height: 450px;
    width: 450px;
    max-width: 80%;
    object-fit: contain;
    transition: transform 0.5s ease;
  }

  button,
  img {
    z-index: 10;
  }
}

button {
  border: none;
  background-color: #00000069;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 34px;
  color: #fff;
  transition: 0.1s;
}

h1 {
  grid-area: title;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.btn {
  background-color: #3e7ef5;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  text-transform: uppercase;
}

form {
  grid-area: form;
}

input {
  font-size: 18px;
  font-family: inherit;
  padding: 10px;
}

@media (hover: hover) {
  .btn:hover {
    background-color: #1666fa;
  }
  button:hover {
    background-color: #00000088;
  }
}
