* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

#root {
  display: grid;
  padding-block: 20px;
  grid-template-areas:
    "title"
    "slider"
    "form";
  height: 100vh;
  justify-items: center;
  grid-template-rows: 60px 450px 100px;
  max-width: 100%;
  align-items: start;
  gap: 30px;
}
